@import '../../DarkMode/DarkMode.css';


.Projects{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:var( --bg-body-color);
  min-height: 80vh;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.Projects h1 {
  text-align: center;
  font-weight: bold;
  padding: 5rem 0 2rem 0;
  font-size: 50px;
  color: var(--link-color);
  text-shadow: 3px 3px 3px var( --bg-hf-color);
}


.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30vmin;
  color: var(--bg-hf-color);
}

.Pages{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* repos */
.repos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.repo{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-between;
  text-align: center;
  min-width: 70vmin;
  max-width: 70vmin;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 var( --bg-hf-color);
  background-color: var( --bg-hf-color);
  color: var(--text-color);
}

.repo-header {
  border-bottom: 3px solid var(--bg-body-color);
  font-size: 25px;
  padding: 10px;
  text-shadow: 3px 2px 3px var( --bg-body-color);
  font-weight: bold;
}

.repo-body {
  padding: 0.5rem 1rem;
}

.repo-languages {
  color:var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repo-link {
  display: flex;
  justify-content: space-around;

}

.repo-link button {
  width: 50%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: var( --bg-body-color);
}

.repo-body a {
  color: var( --bg-body-color);
}

.repo-icon{
  color: var( --link-color);
}

/* pagination */
.pagination {
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
  align-items: center;
  list-style: none;
  outline: none;
  color: var(--link-color);
  font-weight: bold;
  font-size: 18px;
}
  .pagination > .active > a{
    background-color: var(--bg-hf-color);
    border-color: var(--bg-hf-color);
  }
  .pagination li {
    padding: 1rem;
    
  }
  .pagination > li > a{
    border: 1px var(--link-color); 
    border-radius: 50%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: var(--bg-hf-color);
    border-color: var(--bg-hf-color);
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: var(--link-color);
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }