@import '../../DarkMode/DarkMode.css';

@font-face {
  font-family: "TheHound";
  src: local("TheHound"),
    url("../../fonts/TheHound.ttf") format("truetype");
  font-weight: normal;
}

.Home {
  text-align: center;
  background-color:  var(--bg-body-color);
  min-height: 80vh;
}

.Home-header {
  color:  var(--text-color);
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.Home-header h1 {
  margin: 2rem 0 1rem 0;
  font-family: TheHound;
  color:  var(--link-color);
  font-size:calc(60px + 3vmin);
  text-shadow: 5px 5px 5px var( --bg-hf-color);
}

.Home-logo {
  width: calc(250px + 3vmin);
  height: calc(260px + 3vmin);
  pointer-events: none;
  border-radius: 50%;
}
.Home-header p {
  padding: 1rem;
  font-size:calc(15px + 2vmin);
}

/* For Mobile  */
@media only screen and (max-width:768px)  {
  .Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
}

@media only screen and (min-width:768px)  {
  .Home{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Home-header {
    margin-left: 30vmin;
  }
  .Home-link {
    margin: auto 0;
  }
}

/* About */

.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  min-height: 80vh;
  background-color:  var(--bg-body-color);
  color:  var(--text-color);
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  cursor: none;
}

.About-header h1{
  color: var(--link-color);
  font-size: 50px;
  text-shadow: 3px 3px 3px var( --bg-hf-color);
  font-weight: bold;
}

.About-body{
  text-align:start;
  font-size: 25px;
  padding: 0 10% 0 10%;
}


/* Software languages icons  */
.icons {
  width: 60%;
}
.icons img{
  margin: 0.5rem;
}


