@import '../../DarkMode.css';

.Home {
  text-align: center;
}

.Home-header {
  background-color:  var(--bg-body-color);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:  var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
.Home-header h1 {
  font-size:calc(50px + 3vmin);
  font-family: 'Brush Script MT', cursive;
}

.Home-logo {
  width: calc(200px + 3vmin);
  height: calc(210px + 3vmin);
  pointer-events: none;
  border-radius: 50%;
}

.Home-header p {
  padding: 1rem;
  font-size:calc(10px + 2vmin);
}

.Home-link{
  padding-bottom: 1rem; 
}