@import '../DarkMode.css';

.Header {
    min-height: 20vh;
}

.Header-navbar{
    font-weight: bold;
    background-color: var( --bg-hf-color);
}



.Footer {
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 10vh;
    background-color:var( --bg-hf-color);
    color: var(--text-color);
}
.Footer h3 {
    padding-left: 1rem;
}
