[data-theme="light"] {
    --bg-body-color: #282c34;
    --bg-hf-color: #61dafb;
    --text-color: #fff;
}


[data-theme="dark"] {   
    --bg-body-color:#61dafb;
    --bg-hf-color:  #282c34;
    --text-color: #fff;
}